/* Theme */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #0F4C85;
}

::-webkit-scrollbar-thumb {
    background: #00305b;
}

* {
    font-family: Raleway, sans-serif;
    font-style: normal;
}

body {
    overflow-y: scroll;
}

hr {
    border-top: 1px solid #377DBD !important;
}

ul {
    list-style-type: square;
}

/* Backgrounds */

.baby {
    height: 500px;
    background: url('/static/main/img/baby.png') no-repeat fixed center;
    background-size: cover;
}

.hands {
    height: 500px;
    background: url('/static/main/img/hands.png') no-repeat fixed center center;
    background-size: cover;
}

.architecture {
    background: url('/static/main/img/architecture.png') no-repeat fixed;
    background-size: cover;
}

/* Utilities */

.v-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.text-light-primary {
    color: #377DBD;
}

.text-dark-primary {
    color: #0F4C85 !important;
}

.text-light-blue {
    color: #eaf4f6;
}

.bg-dark-primary {
    background-color: #00305b;
}

.bg-light-blue {
    background-color: #eaf4f6;
}

.shadow {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6)
}

.btn {
    cursor: pointer;
}

.curs-pointer {
    cursor: pointer;
}

.breadcrumb {
    border-radius: 0 !important;
}
