{% extends "admin/base.html" %}
{% load static %}

{% block title %}OACPL - Admin{% endblock %}

{% block extrahead %}
    <link rel="icon" type="image/png" href="{% static 'main/img/logo.png' %}"/>
    <script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(function() {
            tinymce.init({
                branding: false,
                plugins: 'autolink image link print media table imagetools',
                selector: 'textarea'
            });
            console.log('fire');
        });
    </script>
    <style>
        #newslettersubscription-group h3 {
            display: none;
        }

        #newslettersubscription-group input {
            transform: translate(-20px, 4px)
        }

        a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
            display: none !important;
            position: absolute;
            top: -99999999px;
        }
    </style>
{% endblock %}

{% block branding %}
    <div>
        <a href="{% url 'home' %}">
            <img src="{% static 'main/img/logo.png' %}" style="display:inline-block; padding-bottom: 20px">
            <h1 id="site-name" style="display:inline-block">OACPL</h1>
        </a>
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}