{% load static %}

<div style="width: calc(100% - 2px); border: solid 1px rgba(0,0,0,0.2)">
    <div style="width: calc(100% - 1rem); background-color: #00305b; color: #ffffff; padding: 0.5rem">
        <img src="{{ base_url }}{% static 'main/img/logo.png' %}" width="30" height="30" style="display: inline-block; vertical-align: top; margin: 1em;" alt="">
        <div style="display: inline-block; font-size: 1.25rem;">
            ONTARIO ASSOCIATION OF
            <br>
            CHILD PROTECTION LAWYERS
        </div>
    </div>
    <div style="padding: 0.5rem;">
        {% if name %}
            Hello {{ name }},
            <br>
            <br>
        {% endif %}
        {% autoescape off %}
            {{ content }}
        {% endautoescape %}
        {% if signature %}
            {{ signature }}
        {% else %}
            <br>
            <br>
            --
            <br>
            <br>
            Sincerely,
            <br>
            The OACPL Team
        {% endif %}
    </div>
    <div style="background-color: #00305b; color: #ffffff; width:100%">
        <div style="text-align: center">
            <p style="margin-bottom: 0;">© 2017 Ontario Association of Child Protection Lawyers. Created By <a href="http://zakscode.com">Zak Timson</a>{% if unsubscribe %} Unsubscribe <a href="{% url 'unsubscribe' %}">here</a>{% endif %}</p>
        </div>
    </div>
</div>
