{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container-fluid bg-light-blue py-3">
        <div class="container">
            <h1>Synopsis</h1>
            <h6 class="text-muted">Date: {{ decision.date }}</h6>
            <p>{{ decision.synopsis | linebreaks }}</p>
            {% if perms.case_law.view_pdf %}
                <a href="/media/{{ decision.pdf }}">View PDF</a>
            {% endif %}
        </div>
    </div>
{% endblock %}